/* Updated CSS for a professional Google clone with violet changed to orange */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Arial, sans-serif"; /* Use a widely recognized font */
  font-size: 16px;
}

body {
  background-color: #f5f5f5; /* Light gray background */
  font-family: "Arial, sans-serif";
}

.google-header {
  background-color: #fff; /* White background */
  color: #333; /* Dark text color */
  padding: 1.5rem 0.5rem;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box-shadow */
}

/* Style the navigation links */
.google-nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.google-nav li {
  margin-right: 20px;
}

.google-nav:not(:last-child) {
  padding-right: 0.5rem;
}

.google-nav a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.google-nav .user-box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff5722; /* Change to orange */
  border-radius: 50%;
  font-size: 2rem;
  color: white;
}

/* Style the navigation links on hover */
.google-nav a:hover {
  text-decoration: underline;
}

.gb_i {
  color: black;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 2rem;
}

.logo img {
  width: 200px; /* Adjust the logo size */
  height: 70px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.search-input-container {
  display: flex;
  align-items: center;
  width: 400px; /* Adjust the search input width */
  border-radius: 30px; /* Rounder input */
  border: 1px solid #dfe1e5;
  padding: 0.7rem;
  background-color: #fff;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  background-color: #fff;
}

.icon {
  color: grey;
  font-size: 1.2rem;
  margin: auto 1rem;
}

.search-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btn {
  background-color: #fff; /* White button background */
  outline: none;
  border: none;
  cursor: pointer;
  color: #333; /* Dark text color */
  padding: 0.7rem 2rem;
  display: inline-block;
  border-radius: 30px; /* Rounder button */
  margin: 1rem;
  font-size: 1.5rem;
  border: 2px solid #fff; /* White button border */
}

.btn:hover {
  border: 2px solid #dfe1e5; /* Light gray border on hover */
}

.language {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #363738;
}

.language a {
  text-decoration: none;
  color: #1a0dab;
  padding: 1rem;
}

.language a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 1rem;
  height: 5vh;
}

.footer li a {
  color: #70757a;
  font-size: 1.4rem;
  padding: 1rem;
}

.footer ul {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
